/* font added */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

/* global style */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner style */

header {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    margin-bottom: 130px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #FFFFFF;
    margin: 230px 230px 25px 850px;
    line-height: 76px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin: 0px 230px 30px 876px;
}

.btn-contact {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border-style: none;
    padding: 20px 25px;
    margin-left: 1130px;
}

/* failures style */

.failures-container {
    display: flex;
}

.failures-image {
    width: 569px;
    height: 723.3px;
    margin-left: 206px;
    margin-right: 87px;
}

.failures {
    text-align: left;
    width: 416px;
    height: 400px;
    margin-top: 200px;
}

.failures-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.failures-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

li {
    list-style: none;
}

ul {
    padding-left: 15px;
}

i {
    color: green;
}

.failures-section {
    margin-bottom: 130px;
}

/* plans style */

.plans-container {
    display: flex;
    gap: 50px;
}

.plans {
    padding: 10px;
}

.plans-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-left: 450px;
    margin-bottom: 50px;
}

.plans-image {
    display: block;
    margin: auto;
}

.plans-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}

.plans-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

.plans-section {
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 130px;
}

/* contact styles */

.btn-call {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border-radius: 5px;
    border-style: none;
    padding: 20px 25px;
    margin-top: 50px;
    margin-left: 64px;
}

.contact-title {
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-top: 50px;
    margin-left: 64px;
    margin-bottom: 24px;
}

.contact-container {
    width: 459px;
    height: 300px;
}

.contact-section {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    margin-left: 180px;
    margin-bottom: 130px;
    border-radius: 8px;
}

/* footer style  */

footer {
    width: 1600px;
    height: 577px;
    background: #151414;
}

.footer-container {
    display: flex;
    width: 1600px;
    justify-content: space-between;
}

.future {
    width: 485px;
    height: 350px;
    margin-top: 130px;
    margin-left: 230px;
}

.future-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
}

.future-description {
    width: 485px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.future-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.future-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.future-icon {
    height: 46px;
}

.subscribe-title {
    margin-bottom: 31px;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}

.subscribe {
    width: 500px;
    height: 204px;
    margin: 130px 230px 243px 500px;
}

#email {
    width: 250px;
    height: 64px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    padding-left: 20px;
}

.btn-subscribe {
    width: 170.11px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #005FAC;
    border-radius: 10px;
    margin-top: 36px;
}